body {
    background-color: #f3f3f3;
}
nav {
    border: 2px solid #000;
    background-color: #fff;
    position: fixed;
    height: 56px;
    width: 100%;
    line-height: 56px;
    padding: 0 16px; 
    text-align: center;
}

nav > ul {
    margin-right: 20px;
}

nav > ul > li {
    display: inline-block;
    margin: 10px;
}

.nav-left{ 
    float: left;
}

.nav-right {
    float: right;
}

.burger {
    position: relative;
    bottom: 7px;
}