body {
    background-color: #f3f3f3;
}
nav {
    border: 2px solid #000;
    background-color: #fff;
    position: fixed;
    height: 56px;
    width: 100%;
    line-height: 56px;
    padding: 0 16px; 
}

ul {
    display: inline;
}

.nav-group {
    margin-right: 10px;
    padding-left: 10px;
}

.nav-group li {
    display: inline-block;
}

.nav-left {
    float: left;
}

.nav-search {
    margin: 0 500px;
}

.nav-right {
    float: right;
}