/* 
---------- Boilerplate ----------
*/
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto','Noto',sans-serif;
}

/* 
---------- Main Navigation Bar ----------
*/
header {
    height: 56px;
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

.nav-left, .nav-right {
    flex: 1;    
    padding: 2px;
}

.nav-right {
    text-align: right;
}

.nav-search {
    flex: 3;
    height: 56px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bars {
    padding: 15px 10px 15px 30px;
}

#logo {
    padding-bottom: 12px;
    padding-left: 10px;
}

#search-bar {
    width: 565px;
    height: 28px;
    padding: 1px 4px;
    margin: 0 0;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#search-btn {
    height: 28px; 
    width: 51px;
    padding: 1px 6px;
    background-color: #f8f8f8a8;
    border: 1px solid lightgray;
    margin: 0 0;
}

#search-btn:hover {
    background-color: #c7c7c7;
}

#camera {
    padding: 0 18px 8px 0;
}


#apps {
    padding: 0 18px 7px 0;
}

#bell {
    padding: 0 18px 5px 0;
}

#user {
    margin-right: 30px;
    padding-top: 8px;
}

/* 
---------- Page Layout ----------
*/

.main {
    width: 90%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: row;
    margin: 80px 100px 0 100px;
}
 
.sidebar {
    background: rgb(243, 243, 243);
    padding: 5px 0 0 0;
    height: 100vh;
    flex: 2;
    order: 1;
}

.content {
    background: rgb(243, 243, 243);
    height: 100vh;
    flex: 7;
    display: flex;
    flex-direction: column;
}

/* 
---------- Sidebar ----------
*/


/* Autoplay Button */

#auto-play {
    float: right;
    font-size: 14px;
    color: gray;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
    bottom: 2px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #e3e3e3;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Autoplay Button End */


/* 
---------- Video ----------
*/

#video-window {
    height: 640px;
    width: 98%;
}

/* ------- Sidebar Thumb Template */
hgroup > h1 {
    font-size: 15px;
    font-weight: 500;
}

hgroup > h2 {
    font-size: 12px;
    color: #6e6e6e;
}

.suggested {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.sug-thumb {
    width: 168px;
    height: 94px;
}

.sug-description {
    width: 220px;
    height: 94px;
    line-height: 20px;
    padding-left: 10px;
    float: right;
    display: flex;
    flex-direction: column;
}
/* ------- Sidebar Thumb Template */

.separator {
    border: 0.5px solid gray;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}

/* ------- Stuff below video ------- */
.description {
    width: 98%;
    height: 5em;
    line-height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

.like-share {
    float: right;
    align-self: flex-start;
    margin-top: 53px;
    border-bottom: 2.5px solid gray;
    
}

.title {
    font-size: 18px;
    font-weight: 400;
}

.views-Date {
    font-size: 14px;
}

.title-separator {
    margin: 0;
    width: 98%;
}

/* ------- Dota Cinema/ YT Gaming ------- */
.yt-gaming {
    margin: 15px 0;
    width: 98%;
    display: flex;
    flex-direction: row;
}
.dc-logo {
    flex: 1;
}
.channel-info {
    flex: 22;
    display: flex;
    flex-direction: column;
}

#sub {
    height: 36px;
    width: 150px;
    border: none;
    padding: 10px 12px;
    border-radius: 2px;
    font-weight: 600;
    font-family: inherit;
    font-size: 15px;
    color: #fff;
    background-color: #f00;
    float: right;
    margin-top: -25px;
}

a:visited {
    color: blue;
}

.more-info {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}

.gaming {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* ------- Dota Cinema/ YT Gaming Ends here------- */

/* ------- Stuff Before Comments------- */

.pre-comment {
    margin-top: 15px;

    width: 98%;
}

.sort {
    display: flex;
    flex-direction: row;
    width: 17%;
    justify-content: space-between;
}

.sort > h3 {
    margin-top: 4px;
}

.add-comment {
    margin-top: 15px;

}

#comment-text {
    border: none;
    border-bottom: 1px solid gray;
    width: 96%;
    height: 30px;
    background-color: rgb(243, 243, 243);
    font-family: inherit;
}

/* ------- Comments------- */
