/* 
---------- Boilerplate ----------
*/
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

/* 
---------- Main Navigation Bar ----------
*/
nav {
    height: 56px;
    width: 100vw;
    display: flex;
    position: absolute;
    background-color: #fff;
}

.nav-left, .nav-right {
    flex: 1;    
    padding: 2px;
}

.nav-right {
    text-align: right;
}

.nav-search {
    flex: 3;
    height: 56px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bars {
    padding: 15px 10px 15px 30px;
}

#logo {
    padding-bottom: 12px;
    padding-left: 10px;
}

#search-bar {
    width: 565px;
    height: 28px;
    padding: 1px 4px;
    margin: 0 0;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#search-btn {
    height: 28px; 
    width: 51px;
    padding: 1px 6px;
    background-color: #f8f8f8a8;
    border: 1px solid lightgray;
    margin: 0 0;
}

#search-btn:hover {
    background-color: #c7c7c7;
}

#camera {
    padding: 0 18px 8px 0;
}


#apps {
    padding: 0 18px 7px 0;
}

#bell {
    padding: 0 18px 5px 0;
}

#user {
    margin-right: 30px;
    padding-top: 8px;
}

/* 
---------- Main ----------
*/

.main {
    border: 1px solid black;
    width: 90%;
    height: 1200px;
    position: absolute;
    top: 80px;
    left: 100px;
}

.sidebar {
    position: relative;
    border: 1px solid black;
    height: 100%;
    width: 30%;
    float: right;
}