*, *:before, *:after {
    box-sizing: border-box;
}

/* 
---------- Main Navigation Bar ----------
*/

nav {
    border: 1px solid black;
    height: 56px;
    width: 100vw;
    display: flex;
}

.nav-element {
    line-height: 56px;
    border: 1px solid black;
}

.nav-left, .nav-right {
    flex: 1;    
    padding: 2px;
}

.nav-search {
    flex: 3;
    text-align: center;
}

/* 
----------  ----------
*/